.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--slack_bg);
    color: #fff;
    padding: 5px 8px;
    border-bottom: 2px solid rgb(73, 37, 74);
    position: sticky;
    z-index: 99;
    top: 0;
}

.header__input {
    display: flex;
    width: 40%;
    background: rgb(73, 37, 74);
    box-shadow: 0 2px 3px rgb(73, 37, 74);
}

.header__input > input {
    background: inherit;
    flex: 1;
    outline: none;
    border: none;
    padding: 5px;
    color: #fff;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left__icon {
    cursor: pointer;
    color: #fff
    
}

