.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--slack_bg);
    color: #fff;
    border-bottom: 2px solid #5800cc;
}

.header__input {
    display: flex;
    width: 40%;
    padding: 4px;
    background: hsl(266, 98%, 37%);
    box-shadow: 0 2px 3px hsl(266, 98%, 37%);
}

.header__input > input {
    background: inherit;
    flex: 1;
    outline: none;
    border: none;
    padding: 5px;
    color: #fff;
}

.header__left__icon {
    cursor: pointer;
}

.header__left__btn {
    background: inherit;
    border: none;
    outline: none;
    padding: 6px 8px;
    transition: .3s all ease;
    border-radius: 50%;
}

.header__left__btn:active {
    background-color: hsl(266, 98%, 37%)
}
