.sidebarRow {
    display: flex;
    align-items: center;
    background: var(--slack_bg);
    padding-left: 18px;
    cursor: pointer;
    padding: 10px;
}

.sidebarRow > h3 {
   margin-left: 8px;
   font-size: 13px;
}

.sidebarRow > .MuiSvgIcon-root {
    font-size: 18px;
 }

 h3.sidebarRow__channel {
     margin-left: 20px ;
 }